<div class="container-fluid services-container">
    <div class="services-title"> Servicios </div>
    <div class="row">
        <div class="col-6 services-subtitle text-right custom-col" (click)="redirect('requirements')"> s
            <p style="width: 50%">Análisis de requerimiento</p>
        </div>
        <div class="col-6 images custom-col">
            <img src="../../../assets/images/analisis.jpg" alt="Análisis" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 images overlay custom-col">
            <img src="../../../assets/images/plan.jpg" alt="Planificación" />
        </div>
        <div class="col-6 services-subtitle custom-col" (click)="redirect('planification')">
            <p style="width: 50%">Planificación del proyecto</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 services-subtitle text-right custom-col" (click)="redirect('uiux')">
            <p style="width: 50%">UX/UI y desarrollo del proyecto</p>
        </div>
        <div class="col-6 images custom-col">
            <img src="../../../assets/images/uiux.jpg" alt="UX/UI" />
        </div>
    </div>
</div>