<div class="content-box">
    <div class="column banner">
      <img
        src="../../../assets/images/uiux.jpg"
        alt="uiux"
        width="100%"
        height="100%"
      />
    </div>
    <div class="column content">
        <h1>UX/UI y desarrollo del proyecto</h1>
        <p>Desarrollamos interfaces limpias y funcionales para la
            experiencia del usuario, impactando en ítems tan
            importantes como la recordación y fidelización hacia la
            marca.<br>Construimos cada proyecto a través de la experiencia en
            ingeniería de sistemas y la ejecución de herramientas de
            control que lleven nuestra planeación semanal y
            presenten los logros obtenidos con la gestión.</p>
    </div>
</div>

