.banner {
    position: relative; /* Establece el contenedor como relativo */
    width: 100%; /* Ancho de la imagen */
}
  
.content {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 60px; /* Ajusta el espaciado del texto según tu diseño */
    padding-right: 60px;
    padding-top: 80px;
    color: #08084A; /* Ajusta el color del texto */
    width: 60%; /* Ajusta el ancho del contenedor de texto según tu diseño */
    font-size: 24px;
    text-align: center;
    line-height: 2rem;
}
  
.content h2 {
    margin-bottom: 30px; /* Espacio entre el título y el párrafo */
    font-family: cocogoose;
    font-size: 30px;
    color: #08084A;
    line-height: normal;
}
  
.btn-custom {
    position: absolute;
    top: 70%;
    right: 20%;
    transform: translate(-50%, -50%);
    background-color:#EA4994;
    color: white;
    border: none;
    border-radius: 20px
}

.btn-primary:hover {
    background-color: #08084A;
    border-color: none; 
    color: white;
}

.separator {
    width: 100%;
    height: 15px;
    background-color: #08084A;
}

.separator2 {
    width: 100%;
    height: 15px;
    background-color: white;

}

.subtitle {
    color: #08084A;
    font-family: cocogoose;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Divide el espacio en tres columnas */
    gap: 20px; /* Espacio entre las imágenes */
    /* margin: 40px 40px; */
    margin: 0;
    width: 100%;
}
  
.services-grid img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 300px; /* Altura automática para mantener la proporción */
}

.imagen-container {
    position: relative;
    border: none;
    padding: 0;
}

.color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 74, 0.5); /* Color con opacidad */
  }

  .imagen-container:hover .color {
    background-color: rgba(8, 8, 74, 0.7); /* Cambia el color superpuesto al hacer hover */
  }

.texto {
    position: absolute;
    width: 100%;
    line-height: 30px;
    top: 50%; /* Lo posiciona en el centro vertical */
    left: 50%; /* Lo posiciona en el centro horizontal */
    transform: translate(-50%, -50%); /* Lo centra correctamente */
    color: white; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente */
    font-family: 'Arial';
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000; 
}

.comments-grid {
    display: grid;
    background-color: #0066B0;
    grid-template-columns: repeat(2, auto); 
    gap: 20px; /* Espacio entre las imágenes */
    padding: 40px;
    margin-top: 80px;
    padding-top: 60px;
}

.subtitle2 {
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}

.comment {
    font-size: 20px;
    text-align: center;
    color: white;
}

.imagen-circular {
    position: absolute;
    border-radius: 50%;
    border: 10px solid #08084A;
    width: 110px;
    height: 110px;
    top: 200%; /* Lo posiciona en el centro vertical */
    left: 70%;
}  


.col-md-4 {
    width: 100%;
}
