header {
  /*justify-content: space-between; /* Distribuye los elementos horizontalmente */
  /*align-items: center; /* Centra verticalmente los elementos */
  background-color: #08084a; /* Color de fondo del encabezado */
  color: #f1f1f1; /* Color del texto */
  padding: 10px 10px; /* Espaciado interno del encabezado */
}

.header-box {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #f1f1f1; /* Color de fondo de la caja */
  color: #333; /* Color del texto de la caja */
  padding: 5px; /* Espaciado interno de la caja */
}

.header-box a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #000000; /* Color del texto del enlace */
}

/* Estilos para el logo */
.logo img {
  max-height: 100px; /* Define la altura máxima del logo */
  width: 120px;
}

/* Estilos para la barra de navegación */
nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  color: #f1f1f1; 
  text-decoration: none; 
}

nav ul li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ea4994;
  cursor: pointer;

}

.align-header {
  background-color: #ea4994;
  display: flex;
  justify-content: right;
}

#btn-navbar {
  color:#fff;
  font-size:28px;
}

.login {
  text-decoration: none;
  color: #000000;
}


