.content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.column {
  flex: 1;
}

.column1 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.column1 img {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 10px solid #08084a;
  width: 110px;
  height: 110px;
  top: 200%;
  left: 100%;
}

.subtitle {
  text-align: center;
  font-family: cocogoose;
  font-size: 30px;
  color: #08084a;
  margin-top: 40px;
}

.container1 {
  background-color: #08084a;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 30px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.date {
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;

}
  

.datetext {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.datenumber {
  color: white;
  font-size: 90px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator {
  background-color: white;
  width: 1%;
  height: 100%;
  font-size: 60px;


}

