<div class="content">
    <app-user-menu></app-user-menu>
    <div class="column2">
        <div class="subtitle">Mi Agenda</div>
        <ng-container *ngFor="let event of scheduledEvents">
            <div class="container-event" [style.background-color]="event.color">
                <div class="date">
                    <div class="datetext">{{ event.weekday }}</div>
                    <div class="datenumber">{{ event.day }}</div>
                    <div class="datetext">{{ event.month }}</div>
                </div>
                <div class="info">
                    <div class="eventname">{{ event.name }}</div><br>
                    <div class="eventinfo">{{ event.place }}</div>
                    <div class="eventinfo">{{ event.speaker }}</div>
                    <div class="text-center">
                        <button class="btn btn-custom btn-lg {{ event.classButton }}"
                            [style.background-color]="event.btnColor" (click)="cancelEvent(event.id)">
                            Cancelar evento
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="simpletext">
            <br><br>
            {{ scheduledEvents.length > 0 ? 'No tienes más eventos agendados' : 'No tienes eventos agendados'}}
            <br><br>
        </div>
    </div>
    <div class="column3">
        <div class="subtitle">Próximos eventos</div>
        <ng-container *ngFor="let event of otherEvents">
            <div class="container-event" [style.background-color]="event.color">
                <div class="date">
                    <div class="datetext">{{ event.weekday }}</div>
                    <div class="datenumber">{{ event.day }}</div>
                    <div class="datetext">{{ event.month }}</div>
                </div>
                <div class="info">
                    <div class="eventname">{{ event.name }}</div><br>
                    <div class="eventinfo">{{ event.place }}</div>
                    <div class="eventinfo">{{ event.speaker }}</div>
                    <div class="text-center">
                        <button class="btn btn-custom btn-lg {{ event.classButton }}"
                            [style.background-color]="event.btnColor" (click)="registerEvent(event.id)">
                            Inscríbete
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="otherEvents.length === 0" class="simpletext">
            <br><br>
            No tienes eventos vigentes para inscribirte
        </div>
    </div>
</div>