<div class="services"> Servicios </div>
<div class="content-grid">
    <div class="column 1">
        <div class="subtitle1">Análisis de requerimientos</div>
        <div class="images">        
            <img
            src="../../../assets/images/plan.jpg"
            alt="Planificación"
            width="500px"
            height="500px"
            />
        </div>
        <div class="subtitle1">UX/UI y desarrollo del proyecto</div>
    </div>
    <div class="column 2">
        <div class="images">
            <img
            src="../../../assets/images/analisis.jpg"
            alt="Análisis"
            width="500px"
            height="500px"
            />
        </div>
        <div class="subtitle2">Planificación del proyecto</div>
        <div class="images">
            <img
            src="../../../assets/images/uiux.jpg"
            alt="UX/UI"
            width="500px"
            height="500px"
            />
        </div>
    </div>
</div>     
