html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: aqua;
  background: #fff;
  color: #111111;
  font-weight: 300;
}

:focus {
  outline: 0;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('assets/fonts/Cocogoose-Pro-Bold-trial.ttf') format('truetype');
}

.title {
  font: normal normal bold 89px/80px Cocogoose;
  letter-spacing: 0px;
  color: #08084A;
  font-size: 300%;
  opacity: 1;
}

.mdc-text-field--filled {
  background-color: green;
  /* opacity: 1; */
}

