<footer class="footer text-center text-lg-start">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="logo">
      <img src="../../../assets/images/Logo.png" alt="Logo" width="100px" height="80px" />
    </div>

    <ul class="list">
      <li><i class="fa-solid fa-mobile" style="color: #74C0FC;"></i> 3128757069</li>
      <li><i class="fa-solid fa-envelope" style="color: #cfc1f8;"></i> tecnosoft.com</li>
      <li><i class="fa-solid fa-location-dot" style="color: #dc7704;"></i> Calle 100 N°10-10 Medellín</li>
    </ul>

    <div class=copy>
      Visítanos en nuestras<br>redes sociales
    </div>

    <div class="social">
      <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"
          style="color: #e40c0c;"></i></a>
      <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"
          style="color: #1160e8;"></i></a>
      <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"
          style="color: #42b007;"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"
          style="color: #d93aaf;"></i></a>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2024 Copyright Lorena Ortiz
  </div>
  <!-- Copyright -->
</footer>